//====================================================================================================

.poll-footer {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}
	background: url('../img/poll-bg.jpg') no-repeat center center;
	background-size: cover !important;
	/* .poll-footer__body */

	&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* .poll-footer__title */

	&__title {
		z-index: 1;
		padding-top: 130px;
		margin: 0px 0px 40px 0px;
		text-align: center;

		@media (max-width: $tablet) {
			padding-top: 90px;
		}
		@media (max-width: $mobile) {
			padding-top: 70px;
		}
	}

	/* .poll-footer__subtitle */

	&__subtitle {
		z-index: 1;
		margin: 0px 0px 40px 0px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
			font-size: 16px;
		}
	}

	/* .poll-footer__button */

	&__button {
		z-index: 1;
		margin: 0px 0px 130px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 90px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 70px 0px;
		}
	}
}

.advantages-footer {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	/* .advantages-footer__title */

	&__title {
		text-align: center;
	}

	/* .advantages-footer__body */

	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	/* .advantages-footer__box */

	&__box {
		display: flex;
		flex-direction: column;

		align-items: center;

		img {
			max-width: 123px;
			height: 100%;
			object-fit: contain;
		}
	}

	&__img {
		margin: 40px 0px 0px 0px;
		min-height: 130px;
	}

	/* .advantages-footer__text */

	&__text {
		margin: 40px 0px 0px 0px;
		max-width: 270px;
		align-self: end;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		color: $mainGrey;
	}
}

.place-footer {
	margin: 150px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 100px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	/* .place-footer__body */

	&__body {
		display: flex;
		@media (max-width: $tablet) {
			justify-content: center;
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	/* .place-footer__wherewe */

	&__wherewe {
		max-width: 840px;
		margin: 0px 0px 0px -185px;
		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
		@media (max-width: $tablet) {
			max-width: none;
			margin: 0px 0px 0px 0px;
		}
	}

	/* .place-footer__info */

	&__info {
		margin-left: 130px;

		max-width: 380px;
		@media (max-width: $tablet) {
			margin-left: 0px;

			text-align: center;
		}
	}
	/* .place-footer__title */

	&__title-top {
		margin: 50px 0px 0px 0px;
		@media (max-width: $tablet) {
			text-align: center;
			margin: rem(0) rem(0) rem(0) rem(0);
		}
	}

	/* .place-footer__adress-body */

	&__adress-body {
		margin: 34px 0px 0px 0px;
		display: flex;
		align-items: start;
		img {
			margin: 0px 10px 0px 0px;
			@media (max-width: $tablet) {
				margin: 0px 0px 10px 0px;
			}
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}
		@media (max-width: $mobile) {
			margin: 25px 0px 0px 0px;
		}
	}

	/* .place-footer__adress */

	&__adress {
		font-family: 'Montserrat Alternates';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 160%;
		color: $mainGrey;
		@media (max-width: $mobile) {
			font-size: 16px;
		}
	}
	/* .place-footer__phonenumber-body */

	&__phonenumber-body {
		margin: 41px 0px 0px 0px;
		display: flex;
		align-items: start;

		img {
			margin: 0px 10px 10px 0px;
			@media (max-width: $tablet) {
				margin: 0px 0px 10px 0px;
			}
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}
		@media (max-width: $mobile) {
			margin: 30px 0px 0px 0px;
			flex-wrap: wrap;
		}
	}
	/* .place-footer__phonenumber */

	&__phonenumber {
		font-family: 'Montserrat Alternates';
		display: flex;
		flex-direction: column;
		gap: 19px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: $mainGrey;
		@media (max-width: $mobile) {
			margin: 0px 0px 20px 0px;
		}
	}

	/* .place-footer__socials */

	&__socials {
		margin: 0px 0px 0px 20px;
		@media (max-width: $tablet) {
			margin: 0px 0px 0px 0px;
		}
	}
	/* .place-footer__title */

	&__title-bottom {
		margin: 91px 0px 40px 0px;

		@media (max-width: $tablet) {
			text-align: center;
			margin: 70px 0px 30px 0px;
		}
		@media (max-width: $tablet) {
			margin: 40px 0px 20px 0px;
		}
	}

	/* .place-footer__inst */

	&__inst {
		margin: 0px 0px 15px 0px;
	}
}

.menu-footer {
	margin: 115px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 70px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 50px 0px 0px 0px;
	}

	/* .menu-footer__body */

	&__body {
		display: flex;
		flex-direction: column;
	}

	/* .menu-footer__list */

	&__list {
		display: flex;
		gap: 83px;
		@media (max-width: $tablet) {
			gap: 40px;
		}
		@media (max-width: $mobile) {
			gap: 25px;
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
		}
	}

	/* .menu-footer__link */

	&__link {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #ffffff;
		@media (min-width: 700px) {
			&::after {
				content: '';
				width: 0px;
				height: 1px;
				display: block;
				background: #ffffff;
				transition: 300ms;
			}
			@media (any-hover: hover) {
				&:hover::after {
					width: 100%;
				}
			}
		}
	}
	/* .menu-footer__line */

	&__line {
		margin: 37px 0px 0px 0px;
		border: 1px solid $mainPremium;
	}
	/* .menu-footer__Copyright */

	&__copyright {
		margin: 40px 0px 97px 0px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #ffffff;
	}
}

//====================================================================================================
