//====================================================================================================
.page {
	background: linear-gradient(180deg, rgba(6, 9, 8, 0) 0%, #0c0e0f 100%),
		url('../img/mainPage/mainbg.jpg') no-repeat center center;
	background-size: cover !important;
}

//====================================================================================================

.main {
	margin: 140px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 100px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 80px 0px 0px 0px;
	}

	/* .main__body */

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* .main__title */

	&__title {
		font-family: 'Viaoda Libre';
		font-weight: 400;
		font-size: 50px;
		line-height: 71px;
		text-align: center;
		max-width: 770px;
		@include adaptiveValue('line-height', 71, 30);
		@media (max-width: 600px) {
			@include adaptiveValue('font-size', 50, 25);
		}
		opacity: 0;
		transition: transform 1s ease 0s, opacity 1s ease 0s;

		&._watcher-view {
			opacity: 1;
		}
	}

	/* .main__text */

	&__text {
		margin: 40px 0px 0px 0px;

		max-width: 700px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		@media (max-width: $mobile) {
			margin: 20px 0px 0px 0px;

			font-size: 16px;
		}
	}

	/* .main__btns */

	&__btns {
		margin: 40px 0px 0px 0px;

		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: $mobile) {
			margin: 30px 0px 0px 0px;

			gap: 15px;
		}
	}
}

//====================================================================================================

.model {
	margin: 230px 0px 75px 0px;
	@media (max-width: $tablet) {
		margin: 100px 0px 45px 0px;
	}
	@media (max-width: $mobile) {
		margin: 60px 0px 25px 0px;
	}

	/* .model__title */

	&__title {
		text-align: center;
	}

	/* .model__galery */

	&__galery {
		margin: 42px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		gap: 25px;
		@media (max-width: $mobile) {
			margin: 20px 0px 0px 0px;
			gap: 15px;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	/* .model__card */

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: end;
		gap: 18px;
		@media (max-width: $mobile) {
			gap: 14px;
		}
	}

	/* .model__text */

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: $mobile) {
			font-size: 16px;
			line-height: 28px;
		}
	}
}

//====================================================================================================

.about {
	padding: 80px 0px 0px 0px;
	@media (max-width: $tablet) {
		padding: 60px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		padding: 40px 0px 0px 0px;
	}

	/* .about__body */

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
		}
	}

	/* .about__info */

	&__info {
		margin: 0px 30px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 0px 0px;
		}
	}

	/* .about__title */

	&__title {
		margin: 0px 0px 40px 0px;
		@media (max-width: $mobile) {
			text-align: center;
			margin: 0px 0px 20px 0px;
		}
	}
	/* .about__text */

	&__text {
		margin: 0px 0px 20px 0px;

		max-width: 470px;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: $mainGrey;
		@media (max-width: $mobile) {
			margin: 0px 0px 10px 0px;

			font-size: 16px;
			max-width: 100%;
		}
	}

	/* .about__galery */

	&__galery {
		position: relative;
		display: flex;
		gap: 30px;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media (max-width: $tablet) {
			gap: 20px;
		}
		@media (max-width: $mobile) {
			gap: 10px;
			margin: 20px 0px 0px 0px;
		}
	}

	/* .about__imgsmall */

	&__imgsmall {
		max-width: 188px;
	}

	/* .about__galery-column */

	&__galery-column {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			&:nth-child(2) {
				margin: 10px 0px 0px 0px;
			}
		}
	}
}

//====================================================================================================

.services {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	/* .services__title */

	&__title {
		margin: 0px 0px 64px 0px;
		text-align: center;
		@media (max-width: $tablet) {
			margin: 0px 0px 50px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}

	/* .services__body */

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px 30px;
		@media (max-width: $mobile) {
			gap: 40px 15px;
		}
	}

	/* .services__card */

	&__card {
		padding: 0px 24px 0px 24px;

		min-width: 360px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 1px solid $mainPremium;
		@media (max-width: $mobile) {
			padding: 0px 15px 0px 15px;
		}
		@media (max-width: 430px) {
			width: 100%;
			min-width: auto;
		}
	}

	/* .services__info */

	&__info {
		margin: 0px 0px 30px 0px;
	}

	/* .services__icon */

	&__icon {
		position: absolute;
		top: -24px;
		left: 24px;
		background: #1f1f1f;
	}

	/* .services__title */

	&__card-title {
		margin: 60px 0px 0px 0px;

		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 23px;
		@media (max-width: $mobile) {
			font-size: 18px;
		}
	}

	/* .services__subtitle */

	&__card-subtitle {
		margin: 20px 0px 0px 0px;

		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		max-width: 315px;
		color: $mainGrey;
		img {
			margin: 0px 20px 0px 0px;
		}
		@media (max-width: $mobile) {
			font-size: 16px;
		}
	}

	/* .services__more */

	&__more {
		margin: 24px 0px 25px 0px;

		display: flex;
		align-items: center;
		justify-content: end;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 160%;
		color: $mainPremium;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		a {
			margin: 0px 25px 0px 0px;
		}

		@media (max-width: $mobile) {
			font-size: 16px;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: translateX(5px);
			}
		}
	}
}
.services__list {
	ul {
		margin-left: 30px;
		li {
			list-style-type: initial;
		}
	}
}
//====================================================================================================

.brick {
	margin: 130px 0px 100px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 60px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 30px 0px;
	}

	/* .brick__title */

	&__title {
		margin: 0px 0px 40px 0px;
		text-align: center;
		@media (max-width: $mobile) {
			margin: 0px 0px 20px 0px;
		}
	}

	/* .brick__subtitle */

	&__subtitle {
		margin: 0px 0px 40px 0px;

		text-align: center;

		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		color: $mainGrey;
		@media (max-width: $mobile) {
			margin: 0px 0px 20px 0px;
		}
	}

	/* .brick__body */

	&__body {
		position: relative;
		display: flex;
	}

	/* .brick__wrapper */

	&__wrapper {
		flex: 1 1 auto;
		height: auto;

		align-self: stretch;
		@media (max-width: $tablet) {
			align-self: stretch;
		}
	}

	/* .brick__slide */

	&__slide {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media (max-width: $tablet) {
		}
	}

	/* .brick__buttons */

	&__buttons {
		margin: 61px 0px 0px 0px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: start;
		}
	}

	/* .brick__buttons-slider */

	&__buttons-slider {
		position: absolute;
		right: 0;
		display: flex;
		gap: 30px;
	}
}

//====================================================================================================

.warrior {
	padding-top: 130px;
	padding-bottom: 90px;
	background: url('../img/sliderWarrior/warriors-bg.jpg') no-repeat center
		center;
	background-size: cover !important;

	@media (max-width: $tablet) {
		padding-top: 90px;
		padding-bottom: 50px;
	}
	@media (max-width: $mobile) {
		padding-top: 70px;
		padding-bottom: 30px;
	}

	/* .warrior__body */

	&__body {
		position: relative;
		display: flex;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	/* .warrior__info */

	&__info {
		margin: 0px 30px 0px 0px;

		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $tablet) {
			margin: 0px 0px 0px 0px;
			text-align: center;
		}
	}

	/* .warrior__title */

	&__title {
		min-width: 370px;

		span {
			margin: 0px 0px 0px 35px;

			font-family: 'Gotham';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			text-transform: lowercase;
			@media (max-width: $mobile) {
				margin: 20px 0px 0px 0px;
			}
		}
		@media (max-width: $mobile) {
			min-width: max-content;
			text-align: center;
			display: flex;
			flex-direction: column;
		}
	}

	/* .warrior__text */

	&__text {
		margin: 40px 0px 20px 0px;

		max-width: 370px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		@media (max-width: $tablet) {
			max-width: 800px;
			text-align: center;
		}
		@media (max-width: $mobile) {
			margin: 20px 0px 20px 0px;
			max-width: 100%;
			font-size: 16px;
		}
	}

	/* .warrior__slider */

	&__slider {
		margin-right: -400px;
		@media (max-width: $tablet) {
			margin-right: 0px;
		}
	}
	/* .warrior__wrapper */

	&__wrapper {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-end;
		@media (max-width: $tablet) {
			align-self: stretch;
		}
	}
	/* .warrior__slide */

	&__slide {
		width: 100%;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media (any-hover: hover) {
			&:hover p {
				opacity: 1;
				transition: opacity 0.3s;
			}
		}

		p {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.7);
			backdrop-filter: blur(6px);
			font-size: 50px;
			color: #fff;
			transition: opacity 0.3s;
		}
	}

	/* .warrior__buttons-slider */

	&__buttons-slider {
		margin: 40px 400px 0px 0px;

		position: relative;
		display: flex;
		gap: 30px;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: center;
			margin: 20px 0px 0px 0px;
		}
	}
}

//====================================================================================================

.typebrick {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	/* .typebrick__body */

	&__body {
		display: flex;
		flex-direction: column;
	}

	/* .typebrick__title */

	&__title {
		margin: 0px 0px 40px 0px;
		text-align: center;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}

	/* .typebrick__wrapper */

	&__wrapper {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-end;
		@media (max-width: $tablet) {
			align-self: stretch;
		}
	}

	&__slide-hover {
		position: relative;
		@media (any-hover: hover) {
			&:hover p {
				opacity: 1;
				transition: opacity 0.3s;
			}
		}
		p {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.7);
			backdrop-filter: blur(6px);
			font-size: 50px;
			color: #fff;
			transition: opacity 0.3s;
		}
	}

	/* .typebrick__slide */

	&__slide {
		width: 100%;
		height: auto;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	/* .typebrick__text */

	&__text {
		margin: 40px 0px 0px 0px;

		min-height: 60px;
		position: relative;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		color: #ffffff;
		@media (max-width: $mobile) {
			margin: 30px 0px 0px 0px;
		}
	}

	/* .typebrick__buttons-slider */

	&__buttons-slider {
		margin: 40px 0px 0px 0px;

		display: flex;
		justify-content: end;
		gap: 30px;
		@media (max-width: $mobile) {
			margin: 30px 0px 0px 0px;
			justify-content: center;
		}
	}
}

//====================================================================================================

.thred {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	/* .thred__title-body */

	&__title-body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* .3d__title */

	&__title {
		margin: 0px 0px 40px 0px;
		text-align: center;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}
	/* .3d__subtitle */

	&__subtitle {
		margin: 0px 0px 15px 0px;
		text-align: center;
		max-width: 770px;
	}
	/* .thred__body */

	&__body {
		margin: 20px 0px 0px 0px;
		display: flex;
		position: relative;
		gap: 30px;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	/* .thred__body-spollers */

	&__body-spollers {
		display: flex;
		justify-content: center;
	}

	/* .3d__spollers */

	&__spollers {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 370px;
		@media (max-width: $tablet) {
			align-items: center;
			width: 100%;
			max-width: none;
		}
		@media (max-width: 450px) {
			width: 100%;
		}
	}

	/* .3d__item */

	&__item {
		padding: 40px;
		border: 1px solid $mainPremium;
		min-width: 370px;
		@media (max-width: 450px) {
			min-width: none;
			align-self: center;
			width: 100%;
		}
	}

	/* .thred__spoiler-name */

	&__spoiler-name {
		margin: 0px 0px 20px 0px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: #ffffff;
	}

	/* .3d__icon */

	&__icon {
		transition: all 0.3s ease 0s;
	}

	/* .thred__price-list */

	&__price-list {
		li {
			a {
				display: flex;
				font-weight: 400;
				font-size: 18px;
				line-height: 140%;
				color: $mainGrey;
				transition: all 0.3s ease 0s;
				position: relative;
				&:before {
					content: '\2713';
					margin: 0px 12px 0px 0px;
					position: relative;
					display: none;
					color: #fff;
				}
				&:hover {
					color: #ffffff;
				}

				&.active {
					color: #ffffff;
					&:before {
						display: block;
					}
				}
			}
		}
	}

	/* .thred__slider */

	&__slider {
		margin-right: -400px;
		@media (max-width: $tablet) {
			margin-right: 0px;
		}
	}

	/* .thred__wrapper */

	&__wrapper {
		min-width: 0;
		align-self: flex-end;
		@media (max-width: $tablet) {
			align-self: stretch;
		}
	}

	/* .thred__slide */

	&__slide {
		overflow: hidden;
		width: 100%;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
		@media (any-hover: hover) {
			&:hover p {
				opacity: 1;
				transition: opacity 0.3s;
			}
		}
		p {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			opacity: 0;
			position: absolute;
			overflow: hidden;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.7);
			backdrop-filter: blur(6px);
			font-size: 50px;
			color: #fff;
			transition: opacity 0.3s;
		}
	}

	/* .thred__buttons-slider */

	&__buttons-slider {
		margin: 40px 400px 0px 0px;
		position: relative;
		display: flex;
		gap: 30px;
		justify-content: end;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: center;
			margin: 40px 0px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin: 20px 0px 0px 0px;
		}
	}
}

//====================================================================================================

._spoller-active .thred__icon {
	transform: rotate(180deg);
}
//====================================================================================================

// змінні

.katalog {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	hr {
		margin: 85px 0px 130px 0px;
		border: 1px solid $mainPremium;
		@media (max-width: $tablet) {
			margin: 65px 0px 90px 0px;
		}
		@media (max-width: $mobile) {
			margin: 35px 0px 40px 0px;
		}
	}

	/* .katalog__body */

	&__body {
		display: flex;
		gap: 100px;
		justify-content: space-between;
		@media (max-width: 800px) {
			flex-wrap: wrap;
		}
	}

	/* .katalog__column */

	&__column {
		min-width: 300px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		flex-wrap: wrap;
		@media (max-width: 800px) {
			display: flex;
			flex-direction: row;
		}
	}

	/* .katalog__column-img */

	&__column-img {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		justify-content: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}

	/* .katalog__showmore */

	&__showmore {
		margin: 9px 0px 0px 0px;

		width: 100%;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			margin: 22px 0px 0px 0px;
			width: 39px;
			height: 20px;
		}
	}

	/* .katalog__kategory */

	&__kategory {
		margin: 0px 0px 75px 0px;
		@media (max-width: $tablet) {
			margin: 0px 0px 45px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 0px 0px;
		}
	}

	/* .katalog__title-sort */

	&__title-sort {
		margin: 0px 0px 29px 0px;

		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: #ffffff;
	}

	/* .katalog__filterdrop */

	&__filterdrop {
		margin: 75px 0px 0px 0px;

		max-width: 148px;
		display: inline-block;
		position: relative;

		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;

		color: $mainPremium;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 1px;
			border: 1px solid $mainPremium;
		}
		@media (max-width: $mobile) {
			margin: 25px 0px 0px 0px;
		}
	}

	/* .katalog__checkbox */

	&__checkbox {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		cursor: pointer;

		input[type='checkbox'] {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
	}

	/* .katalog__checkbox-custom */

	&__checkbox-custom {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border: 1px solid $mainPremium;
		margin-right: 10px;
	}

	/* .katalog__checkbox-text */

	&__checkbox-text {
		font-size: 18px;
	}
}

//====================================================================================================

// стилізація checkbox та тексту

// стилізація квадратних кнопок

// стилізація вибраних checkbox
input[type='checkbox']:checked + .katalog__checkbox-custom {
	background: url('@img/icons/check-cube.png') center center no-repeat;
	border: 1px solid $mainPremium;
}
.range-slider {
	position: relative;
	max-width: 270px;
	width: 100%;
	height: 50px;
	@media (max-width: 800px) {
		min-width: 80vw;
	}
}

.ratio-input-list {
	list-style: none;
	padding: 0;

	li {
		margin-bottom: 10px;

		label {
			display: flex;
			align-items: center;

			input[type='radio'] {
				display: none;

				&:checked + .radio-button {
					background: url('@img/icons/check.png') center center no-repeat;
					border: 1px solid $mainPremium;
				}
			}

			.radio-button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				border: 2px solid #ccc;
				border-radius: 50%;
				margin-right: 10px;
				position: relative;
				cursor: pointer;
			}

			span {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 140%;
				color: #ffffff;
			}
		}
	}
}

input[type='range'] {
	position: absolute;
	height: 1px;
	border-radius: 2px;
	background-color: $mainPremium;
}

input[type='range'].slider1 {
	top: 20px;
	left: 0;
	right: 0;
}

input[type='range'].slider2 {
	top: 20px;
	left: 0;
	right: 0;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: $mainPremium;

	border-radius: 50%;
	margin-top: -6px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

input[type='range']::-moz-range-thumb {
	height: 15px;
	width: 415px;
	background-color: $mainPremium;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.slider-value {
	position: absolute;
	top: 0;
	font-size: 14px;
	font-weight: bold;
}

.value1 {
	left: 0;
}

.value2 {
	right: 0;
}

.range-slider input[type='range']::-moz-range-track {
	background-color: transparent;
	border: 1px solid $mainPremium;
	height: 1px;
}

.range-slider input[type='range']::-webkit-slider-runnable-track {
	background-color: transparent;
	border: 1px solid $mainPremium;
	height: 1px;
}

//====================================================================================================

.goods {
	/* .goods__breadcrumb */

	&__breadcrumb {
		margin: 30px 0px 0px 0px;
		ul {
			display: flex;
			align-items: center;
			list-style: none;
			gap: 7px;
			padding: 0;
			margin: 0;
			@media (max-width: $tablet) {
				flex-wrap: wrap;
			}
			li {
				a {
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 140%;
					color: $mainGrey;
					text-decoration: none;
					transition: color 0.2s ease;
					&:hover {
						color: #777;
					}
					@media (max-width: $mobile) {
						font-size: 15px;
						line-height: 110%;
					}
				}

				&::after {
					content: '/';
					margin: 0px 0px 0px 9px;
					color: #999;
				}

				&:last-child::after {
					content: none;
				}
			}
		}
	}
	/* .goods__body */

	&__body {
		margin: 40px 0px 0px 0px;

		display: flex;
		@include adaptiveValue('gap', 130, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}

	/* .goods__img */

	&__img {
		@media (max-width: $tablet) {
			max-width: 470px;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	/* .goods__top */

	&__top {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}

	/* .goods__title */

	&__title {
		margin: 0px 80px 0px 0px;

		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		line-height: 71px;
		text-transform: uppercase;
		color: #ffffff;
		@media (max-width: 1200px) {
			margin: 0px 20px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 0px 0px;
		}
	}

	/* .goods__bitton */

	&__button {
		padding: 17px 14.5px;

		display: inline-block;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
		color: $mainPremium;
		border: 1px solid $mainPremium;
		transition: border, background 0.3s ease 0s;
		@media (max-width: $mobile) {
			font-size: 16px;
			line-height: 18px;
			padding: 12px 20px;
		}
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid #977a59;
				background: #977a59;
			}
		}
	}

	/* .goods__text */

	&__text {
		margin: 40px 0px 0px 0px;

		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: $mainGrey;
	}

	/* .goods__number */

	&__number {
		margin: 25px 0px 130px 0px;

		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #ffffff;
		img {
			margin: 0px 10px 0px 0px;
		}
	}

	/* .goods__plus */

	&__plus {
	}
	hr {
		margin: 40px 0px 20px 0px;
		border: 1px solid $mainPremium;
	}

	/* .goods__body-spollers */

	&__body-spollers {
	}

	/* .goods__spollers */

	&__spollers {
	}

	/* .goods__item */

	&__item {
		display: flex;
		flex-direction: column;
	}

	/* .goods__spoiler-name */

	&__spoiler-name {
		align-self: start;
		flex: 1 1 auto;
		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 42px;
		text-transform: uppercase;
		color: #ffffff;

		span {
			transition: all 0.3s ease 0s;
			margin: 0px 25px 0px 0px;
			display: inline-block;
			width: 21px;
			height: 21px;
			background: url('@img/icons/+.svg') center center no-repeat;
		}
		&._spoller-active {
			span {
				background: url('@img/icons/-.svg') center center no-repeat;
			}
		}
	}

	/* .goods__box */

	&__box {
		margin: 20px 0px 0px 0px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #b0b0b0;
		ul {
			margin-left: 30px;
			li {
				list-style-type: initial;
			}
		}
	}
}

//====================================================================================================

.progect {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	hr {
		margin: 85px 0px 130px 0px;

		border: 1px solid $mainPremium;
		@media (max-width: $tablet) {
			margin: 65px 0px 90px 0px;
		}
		@media (max-width: $mobile) {
			margin: 35px 0px 40px 0px;
		}
	}

	/* .progect__top */

	&__top {
		margin: 0px 0px 70px 0px;

		display: flex;
		justify-content: space-between;
		gap: 30px;
		@media (max-width: $tablet) {
			margin: 0px 0px 40px 0px;
			flex-direction: column;
			align-items: center;
		}
	}
	/* .progect__text-body */

	&__text-body {
		margin: 82px 0px 0px 0px;

		display: flex;
		flex-direction: column;
		gap: 30px;
		@media (max-width: $tablet) {
			margin: 50px 0px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin: 30px 0px 0px 0px;
		}
	}

	/* .progect__img */

	&__img {
		max-width: 587px;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	/* .progect__text */

	&__text {
		width: 470px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: $mainGrey;
		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	/* .progect__scheme-body */

	&__scheme-body {
		text-align: center;
	}

	/* .progect__scheme-title */

	&__scheme-title {
		margin: 0px 0px 40px 0px;
		text-align: center;
		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		line-height: 42px;
		text-transform: uppercase;
		color: #ffffff;
		@include adaptiveValue('font-size', 30, 24);
	}

	/* .progect__scheme */

	&__scheme {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 80px;
		@media (max-width: $tablet) {
			row-gap: 50px;
		}
		@media (max-width: $mobile) {
			row-gap: 20px;
		}
		&:last-child {
			@media (max-width: $mobile) {
			}
		}
	}

	/* .progect__scheme-item */

	&__scheme-item {
		margin: 0px 60px 0px 0px;

		display: flex;
		gap: 60px;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 0px 30px 0px 0px;
			gap: 30px;
		}
		@media (max-width: $mobile) {
			margin: 0px 20px 0px 0px;
			gap: 20px;
		}
		&:not(:last-child) {
			&::after {
				content: '';
				display: block;
				position: relative;
				width: 35px;
				height: 39px;
				background: url('@img/progect/arrows-scheme.svg') 0 0 no-repeat;
			}
		}
		&:last-child {
			padding: 0px 120px 0px 0px;
			@media (max-width: $mobile) {
				padding: 0px 55px 0px 0px;
			}
		}
	}

	/* .progect__scheme-img */

	&__scheme-img {
		display: flex;
		flex-direction: column;
		max-width: 130px;
	}

	/* .progect__img-text */

	&__img-text {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		color: $mainGrey;
	}

	/* .progect__button */

	&__button {
		margin: 142px 0px 0px 0px;
	}
}

//====================================================================================================

.artistic {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	hr {
		margin: 85px 0px 130px 0px;

		border: 1px solid $mainPremium;
		@media (max-width: $tablet) {
			margin: 65px 0px 90px 0px;
		}
		@media (max-width: $mobile) {
			margin: 35px 0px 40px 0px;
		}
	}

	/* .progect__top */

	&__top {
		margin: 0px 0px 70px 0px;

		display: flex;
		justify-content: space-between;
		gap: 30px;
		@media (max-width: $tablet) {
			margin: 0px 0px 40px 0px;
			flex-direction: column;
			align-items: center;
		}
	}
	/* .progect__text-body */

	&__text-body {
		display: flex;
		flex-direction: column;
		gap: 30px;
		@media (max-width: $tablet) {
			gap: 20px;
		}
		@media (max-width: $mobile) {
			gap: 10px;
		}
	}

	/* .progect__img */

	&__img {
		max-width: 587px;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	/* .progect__text */

	&__text {
		width: 470px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: $mainGrey;
		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	/* .artistic__bottom-title */

	&__bottom-title {
		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 42px;
		text-align: center;
		text-transform: uppercase;
	}

	/* .artistic__bottom-card */

	&__bottom-card {
		margin: 35px 0px 0px 0px;

		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: center;
		}
		@media (max-width: $mobile) {
		}
	}
}

//====================================================================================================

.card {
	/* .card__body */

	&__body {
		max-width: 270px;
	}

	/* .card__info */

	&__info {
		margin: 40px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		gap: 36px;
	}

	/* .card__title */

	&__title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
	}

	/* .card__text */

	&__text {
		font-family: 'Montserrat Alternates';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		text-align: center;
		color: $mainGrey;
	}
}

//====================================================================================================

.galery {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	hr {
		margin: 85px 0px 130px 0px;
		border: 1px solid $mainPremium;
		@media (max-width: $tablet) {
			margin: 65px 0px 90px 0px;
		}
		@media (max-width: $mobile) {
			margin: 35px 0px 40px 0px;
		}
	}

	/* .galery__body */

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
		@media (max-width: 815px) {
			justify-content: center;
		}
	}

	/* .galery__img */

	&__img {
		max-width: 370px;
		width: 100%;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:hover .galery__hover {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}

	/* .galery__hover */

	&__hover {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(6px);
		font-size: 50px;
		color: #fff;
		transition: opacity 0.3s;
	}

	/* .galery__hover-title */

	&__hover-title {
		margin: 0px 0px 20px 0px;
		font-family: 'Montserrat Alternates';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #ffffff;
	}

	/* .galery__hover-text */

	&__hover-text {
		margin: 0px 0px 120px 0px;
		font-family: 'Montserrat Alternates';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #ffffff;
	}
}
//====================================================================================================

.aboutus {
	margin: 130px 0px 0px 0px;
	@media (max-width: $tablet) {
		margin: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		margin: 70px 0px 0px 0px;
	}

	hr {
		margin: 85px 0px 70px 0px;
		border: 1px solid $mainPremium;
		@media (max-width: $tablet) {
			margin: 65px 0px 60px 0px;
		}
		@media (max-width: $mobile) {
			margin: 35px 0px 30px 0px;
		}
	}
	/* .aboutus__title */

	&__title {
	}

	/* .aboutus__container */

	&__container {
	}

	/* .aboutus__body */

	&__body {
		display: flex;
		flex-direction: column;
	}

	/* .aboutus__top */

	&__top {
		display: flex;
		gap: 30px;
		align-items: center;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (max-width: $mobile) {
			gap: 20px;
		}
	}

	/* .aboutus__text-body */

	&__text-body {
		max-width: 470px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		@media (max-width: $mobile) {
			gap: 20px;
		}
	}

	/* .aboutus__text */

	&__text {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;

		color: #b0b0b0;
		ul {
			margin: 0px 0px 0px 20px;
			li {
				list-style-type: initial;
			}
		}
		@media (max-width: $mobile) {
			font-size: 16px;
		}
	}

	/* .aboutus__box */

	&__box {
		margin: 130px 0px 0px 0px;
		display: flex;
		gap: 30px;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 90px 0px 0px 0px;
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (max-width: $mobile) {
			margin: 70px 0px 0px 0px;
		}
	}
	/* .aboutus__box-reverse */

	&__box-reverse {
		margin: 130px 0px 0px 0px;
		display: flex;
		gap: 30px;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 90px 0px 0px 0px;
			flex-direction: column-reverse;
			justify-content: center;
		}
		@media (max-width: $mobile) {
			margin: 70px 0px 0px 0px;
		}
	}
	/* .aboutus__img */

	&__img {
		width: 100%;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//====================================================================================================
