body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&__close {
		margin: 45px 45px 0px 0px;
		align-self: flex-end;
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #1f1f1f;
	width: 100%;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

.consultation {
	margin: 0px 60px 0px 60px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media (max-width: $mobile) {
		margin: 0px 30px 0px 30px;
	}
	/* .consultation__close */

	&__close {
		margin: 40px 40px 36px 0px;

		align-self: end;
		@media (max-width: $mobile) {
			margin: 20px 20px 16px 0px;
		}
	}

	/* .consultation__content */

	&__content {
		max-width: 545px;
	}

	/* .popup__title */

	&__title {
		width: 100%;
		margin: 0px 0px 40px 0px;
		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 42px;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;
	}

	&__label {
		margin: 0px 0px 11px 9px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;

		color: $mainPremium;
	}
	&__line {
		margin: 11px 0px 40px 0px;
		width: 100%;
		border: 1px solid $mainPremium;
	}
	input[type='tel'],
	input[type='text'],
	input[type='tel'] {
		margin: 0px 0px 0px 9px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #ffffff;
		width: 100%;
		background: transparent;
	}

	/* .consultation__phone-input */

	&__phone-input {
		display: flex;
		width: 100%;
	}
	&__button {
		align-self: center;
		max-width: 355px;
		margin: 10px 0px 100px 0px;
	}
}

.prefix {
	margin: 0px 0px 0px 9px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;

	color: #ffffff;
}

.typebrick {
	/* .typebrick__content */

	&__content {
		max-width: 1400px;
	}

	/* .typebrick__container */

	&__container {
		display: flex;
		flex-direction: column;
	}

	/* .typebrick__title */

	&__title-popup {
		margin: 36px 0px 40px 0px;
		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		line-height: 42px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@include adaptiveValue('font-size', 30, 20);
		@media (max-width: $mobile) {
			margin: 15px 0px 20px 0px;
			line-height: 32px;
		}
	}

	/* .typebrick__body-popup */

	&__body-popup {
		margin: 0px 0px 90px 0px;
		display: flex;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 40px 0px;
		}
	}

	/* .typebrick__img-body */

	&__img-body {
		display: flex;
		gap: 10px;
		margin: 0px 40px 0px 0px;
		max-height: 570px;
		@media (max-width: $tablet) {
			margin: 0px 0px 20px 0px;
			max-height: none;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
		}
		@media (max-width: $mobile) {
			img {
				width: 250px;
			}
		}
	}

	/* .typebrick__img-left */

	&__img-left {
		max-width: 330px;
		margin: 0px 0px 180px 0px;
		@media (max-width: $mobile) {
			margin: rem(0) rem(0) rem(0) rem(0);
		}
	}

	/* .typebrick__img-right */

	&__img-right {
		align-self: end;
		@media (max-width: $tablet) {
		}
	}

	/* .typebrick__text-popup */

	&__text-popup {
		display: flex;
		flex-direction: column;
		gap: 32px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #c1c1c1;
		@media (max-width: $mobile) {
			font-size: 16px;
		}
		span {
			display: inline-block;
		}
	}
}

/* Добавьте это в свой файл стилей */
.calc {
	/* .calc__content */
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__content {
		max-width: 1117px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__progress-bar-body {
		margin: 52px 0px 87px 0px;
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 1px;
		background: #b0b0b0;
		opacity: 0.4;
		&.hide {
			display: none;
		}
		@media (max-width: $tablet) {
			margin: 40px 0px 60px 0px;
		}
	}
	&__progress-bar {
		align-self: start;

		position: relative;
		height: 2px;
		background-color: #d6b896;
		transition: width 0.3s ease;
		&::after {
			content: '';
			position: absolute;
			right: -16px;
			top: -10px;
			width: 24px;
			height: 24px;
			background: url('@img/icons/check.svg') 0 0 no-repeat;
		}
	}

	&__question-screen {
		display: none;

		&.active {
			display: inline-block;
			&:first-child {
				display: block;
			}
		}
	}

	/* .calc__question-screen-end */

	&__question-screen-end {
		display: none;

		&.active {
			display: inline-block;
		}
	}

	&__title {
		min-height: 60px;
		font-family: 'Viaoda Libre';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 42px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@media (max-width: $tablet) {
			font-size: 25px;
			line-height: 35px;
		}
		@media (max-width: $mobile) {
			font-size: 20px;
			line-height: 30px;
		}
	}

	/* .calc__basis-body */

	&__basis-body {
		min-height: 400px;
		margin: 40px 0px 0px 0px;
		display: flex;
		gap: 140px;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 30px 0px 0px 0px;
			gap: 40px;
		}
	}

	/* .calc__design-body */

	&__design-body {
		min-height: 400px;
		margin: 40px 0px 0px 0px;
		display: flex;
		gap: 100px;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 30px 0px 0px 0px;
			gap: 30px;
		}
	}

	/* .calc__signature-body */

	&__signature-body {
		min-height: 400px;
		margin: 40px 0px 0px 0px;
		display: flex;
		gap: 100px;
		justify-content: center;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 30px 0px 0px 0px;
			gap: 30px;
		}

	}
	&__delivery-body {
		min-height: 400px;
		margin: 40px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			margin: 30px 0px 0px 0px;
		}
	}

	&__informations-body {
		min-height: 400px;
		margin: 40px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			margin: 30px 0px 0px 0px;
		}
	}

	/* .calc__end-body */

	&__end-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			margin: 130px 0px 100px 0px;
			width: 95px;
			height: 95px;
		}
		h2 {
			margin: 0px 0px 40px 0px;
		}
		h3 {
			margin: 0px 0px 123px 0px;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;

			text-align: center;

			color: #ffffff;
		}
	}
	/* .calc__type */

	&__type-body {
		min-height: 400px;
		margin: 40px 0px 0px 0px;
		display: flex;
		gap: 57px;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $tablet) {
			margin: 20px 0px 0px 0px;
			gap: 15px;
		}
	}

	/* .calc__image-radio-body */

	&__image-radio-body {
		display: flex;
	}

	&__image-radio {
		display: flex;
		flex-direction: column;
		align-items: center;

		span {
			margin: 40px 0px 0px 0px;
			font-family: 'Gotham';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			text-align: center;
			color: #b0b0b0;
			@media (max-width: $tablet) {
				margin: 20px 0px 0px 0px;
			}
			@media (max-width: $mobile) {
				font-size: 16px;
				line-height: 120%;
			}
		}

		input[type='radio'] {
			display: none;

			&:checked + div {
				border: 1px solid #d6b896;
			}
		}

		img {
			border: 1px solid transparent;
			cursor: pointer;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__image-hover {
		padding: 6px 6px 30px 6px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 0.3s ease 0s;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			padding: 2px 2px 30px 2px;
		}
	}

	&__image-first {
		span {
			max-width: 148px;
		}
		img {
			width: 100px;
			height: 100px;
		}
		@media (max-width: $tablet) {
			img {
				width: 90px;
				height: 90px;
			}
		}
		@media (max-width: $mobile) {
			span {
				max-width: 120px;
			}
			img {
				width: 70px;
				height: 70px;
			}
		}
	}
	/* .calc__btn-body */

	&__btn-body {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 100px;
		@media (max-width: $tablet) {
			gap: 60px;
		}
		@media (max-width: $mobile) {
			gap: 30px;
		}
	}

	&__next-btn {
		margin: 0px 0px 100px 0px;
		padding: 12px 0px;
		min-width: 288px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		color: #d6b896;

		border: 1px solid #d6b896;

		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: #c99b6f;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 40px 0px;
			padding: 10px 0px;
			min-width: 140px;
		}
	}
	&__back-btn {
		margin: 0px 0px 100px 0px;
		padding: 12px 0px;
		min-width: 288px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		color: #b0b0b0;
		border: 1px solid #b0b0b0;

		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: #c99b6f;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 40px 0px;
			padding: 10px 0px;
			min-width: 140px;
		}
	}
}
.delivery {
	/* .delivery__calс */

	&__calс {
	}

	/* .delivery__yesno-body */

	&__yesno-body {
		label {
			cursor: pointer;
			display: flex;
			align-items: center;
		}
		display: flex;
		justify-content: center;
		gap: 70px;

		input[type='radio'] {
			display: none;
		}
		@media (max-width: $tablet) {
			gap: 50px;
		}
		@media (max-width: $mobile) {
			gap: 20px;
		}
	}

	/* .delivery__checkbox-custom */

	&__radio-custom {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid $mainPremium;
		margin-right: 10px;
	}

	/* .delivery__title */

	&__title {
		margin: 90px 0px 20px 0px;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;

		text-align: center;

		color: #ffffff;
	}

	/* .delivery__input-body */

	&__input-body {
		display: flex;
	}

	/* .delivery__sity */

	&__sity {
		display: flex;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;

		color: #ffffff;
		input {
			flex: 1 1 auto;
			margin: 0px 0px 0px 9px;
			font-family: 'Gotham';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			color: #ffffff;
			background: transparent;
		}
	}

	/* .delivery__set */

	&__set {
		display: flex;
		justify-content: space-between;
		h3 {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;

			color: #ffffff;
			@media (max-width: $tablet) {
				margin: 0px 10px 0px 0px;
			}
			@media (max-width: $mobile) {
				font-size: 16px;
				line-height: 110%;
			}
		}
	}
	&__line {
		margin: 11px 0px 40px 0px;
		width: 100%;
		border: 1px solid #ffffff;
	}
}
input[type='radio']:checked + .delivery__radio-custom {
	background: url('@img/icons/check.png') center center no-repeat;
	border: 1px solid $mainPremium;
}

.informations {
	/* .informations__calc */

	&__calc {
		h4 {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			text-align: center;
			color: #ffffff;
		}
	}

	/* .informations__form-body */

	&__form-body {
		margin: 37px 0px 0px 0px;
	}
	/* .informations__form-input */

	&__form-input {
		display: flex;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;

		color: #ffffff;

		input {
			flex: 1 1 auto;
			margin: 0px 0px 0px 9px;
			font-family: 'Gotham';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			color: #ffffff;

			background: transparent;
		}
	}

	/* .informations__line */

	&__line {
		margin: 10px 0px 40px 0px;
		border: 1px solid #ffffff;
	}
}
