[data-showmore] {
}
[data-showmore-content] {
}
[data-showmore-button] {
	span {
		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;
			&:last-child {
				display: flex;
				transition: transform 0.3s ease 0s;
				img {
					transform: rotate(180deg);
				}
			}
		}
	}
}
